<a href="https://colab.research.google.com/github/coldsober-irene/NLP-fellowship/blob/main/ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive

In [4]:
# mount the drive to the colab
drive.mount("drive")

Mounted at drive

In [9]:
# change working directory
import os
os.chdir("/content/drive/MyDrive/AIF progress/machine learning/data")

In [10]:
!pwd

/content/drive/MyDrive/AIF progress/machine learning/data

In [11]:
!ls

'Data new screw Jan 23.xlsx'

In [12]:
excel_data = "Data new screw Jan 23.xlsx"

In [18]:
pandas_data = pd.read_excel(excel_data)

In [19]:
pandas_data.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,<=95%,<=790rpm,<=60bar,<=190degC,<=1100rpm,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,Soya k-tron,NaN,NaN,NaN,NaN,Maize k-tron,NaN,...,NaN,NaN,Extruder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Product,Date,Time,Setpoint TPH,CMD %,Motor RPM,Screw RPM,AveFF,Setpoint TPH,CMD %,...,Screw RPM,AveFF,Throughput TPH,Main drive torque,Main drive motor speed,Die pressure,Die Temp,Cutter speed,SME,Suction pipe clogged
2,NaN,NaN,09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,GOM,2023-02-01 00:00:00,01:00:00,1236,86.47,1629,388.1,1461.6,4767.1,66.7,...,258.63,7538.6,6891.1,86,778,0,163,912,35.9,NaN
9,NaN,NaN,04:00:00,1236,78.1,1673.1,359.1,1430.1,4764,66,...,260.1,7198.3,6893.3,88,776,0,163,912,34.1,NaN

In [20]:
pandas_data.tail(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,<=95%,<=790rpm,<=60bar,<=190degC,<=1100rpm,Unnamed: 19,Unnamed: 20
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,09:00:00,NaN,NaN,2200,459,1782,4536,60,...,236,7523,7439,95,784,0,152,952,34.9,NaN
73,NaN,NaN,12:00:00,NaN,NaN,2079,432,1806,4536,61,...,237,7583,7438,89,784,0,153,951,35.5,NaN
74,NaN,NaN,15:00:00,NaN,NaN,2066,467,1773,4536,59,...,240,7559,7447,90,784,0,155,952,34.5,NaN
75,NaN,NaN,18:00:00,NaN,NaN,2200,458,1782,4536,61,...,237,7560,7438,89,784,0,153,952,35,NaN
76,NaN,NaN,21:00:00,NaN,NaN,2083,436,1801,4538,60,...,241,7536,7442,90,784,0,152,952,34.6,NaN
77,NaN,NaN,23:00:00,NaN,NaN,2068,474,1769,4540,58,...,236,7581,7465,98,784,0,155,952,35.6,NaN
78,NaN,2023-09-01 00:00:00,01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,04:00:00,NaN,NaN,2197,468,1622,4536,57,...,231,7565,7405,87,787,0,150,902,35,NaN
80,NaN,NaN,07:00:00,NaN,NaN,2201,468,1624,4536,58,...,236,7550,7407,88,787,0,151,902,33,NaN

In [21]:
# set to see all the rows 
pd.set_option("display.max_rows", None)

In [ ]:
pandas_data # display all the data rows

DO THE SUM AND FILL NAN WITH 0

In [32]:
without_nan = pandas_data[pandas_data.columns[5]][2:].fillna(0) # from 3rd row to the end, fill NAN with 0

In [33]:
# do sum
overall = without_nan.sum()

In [34]:
overall

128206.79999999999